{% extends 'base.html' %}

{% block content %}
 <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {% for post in posts %}
          <div class="post-preview">
            <a href="{% url 'post_detail' pk=post.pk %}">
              <h2 class="post-title">
                {{ post.title }}
              </h2>
              <h3 class="post-subtitle">
                {{ post.text}}
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{ post.author }}</a>
              on {{ post.created_date }}</p>
          </div>
          <hr>
          {% endfor %}
          <!-- Pager -->

           <a href="{% url 'new_post' %}" class="top-menu"><span class="glyphicon glyphicon-plus">Create New Post</span></a>
        
        </div>
      </div>
    </div>

    <hr> 
{% endblock %}